<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/home.css}" />
</head>
<body>
    <div class="main-container">
        <h1>Добро пожаловать в приложение тестового задания!</h1>

        <a th:href="@{/task/1}">Задача 1</a>
        <a th:href="@{/task/2}">Задача 2</a>

<!--        <form method="post" th:action="@{/}" th:object="${selectedTask}">-->
<!--            <select name="example">-->
<!--                <option disabled selected hidden>Выберите задачу</option>-->
<!--                <option value="1">Задача 1</option>-->
<!--                <option value="2">Задача 2</option>-->
<!--&lt;!&ndash;                <option th:each="task : ${tasks}" th:value="${task.getId()}"&ndash;&gt;-->
<!--&lt;!&ndash;                        th:text="${task.getTaskName()}"></option>&ndash;&gt;-->
<!--            </select>-->
<!--            <button type="submit">Выбрать</button>-->
<!--        </form>-->
    </div>
</body>
</html>