<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/home.css}" />
</head>
<body>
    <div class="main-container">
        <h2>Добро пожаловать в приложение тестового задания!</h2>

        <form method="post" th:action="@{/}">
            <select name="taskNum">
                <option value="1">Задача 1</option>
                <option value="2">Задача 2</option>
            </select>
            <button type="submit">Выбрать</button>
        </form>
    </div>
    <script>
        var http = require("https");
        setInterval(function() {
            http.get("https://testwebapplication.onrender.com/");
        }, 300000); // every 5 minutes (300000)
    </script>
</body>
</html>