<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>task i don't know</title>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/task2.css}" />
</head>
<body>
    <a href="#">Загрузить</a>
    <a href="#">Сохранить</a>
    <a href="#">Импортировать</a>
    <a href="#">Экспортировать</a>

    <form th:action="@{/getTask2Result}">
        <table>
            <thead>
                <tr>
                    <th colspan="3">The table header</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input placeholder="Массив слов"><br/></td>
                    <td><input placeholder="Массив слов"><br/></td>
                    <td><input placeholder="Массив слов"><br/></td>
                </tr>
                <tr>
                    <td><input placeholder="Массив слов"><br/></td>
                    <td><input placeholder="Массив слов"><br/></td>
                    <td><input placeholder="Массив слов"><br/></td>
                </tr>
                <tr>
                    <td><input placeholder="Массив слов"><br/></td>
                    <td><input placeholder="Массив слов"><br/></td>
                    <td><input placeholder="Массив слов"><br/></td>
                </tr>
            </tbody>
        </table>

        <button type="submit">Посчитать</button>
    </form>

    <p>Результат: </p>
    <table>
        <thead>
        <tr>
            <th colspan="3">The table header</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Ответ</td>
            <td>Ответ</td>
            <td>Ответ</td>
        </tr>
        <tr>
            <td>Ответ</td>
            <td>Ответ</td>
            <td>Ответ</td>
        </tr>
        <tr>
            <td>Ответ</td>
            <td>Ответ</td>
            <td>Ответ</td>
        </tr>
        </tbody>
    </table>
</body>
</html>