<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task 1</title>
</head>
<body>
    <a href="#">Загрузить</a>
    <a href="#">Сохранить</a>
    <a href="#">Импортировать</a>
    <a href="#">Экспортировать</a>

    <form method="post" th:action="@{/task/1}" th:object="${taskResult}">
        <label for="firstArray">Введите первый массив слов через пробел</label><br/>
        <input id="firstArray" th:field="${task.sequence1}" placeholder="Массив слов 1"><br/>
        <label for="secondArray">Введите второй массив слов через пробел</label><br/>
        <input id="secondArray" th:field="${task.sequence2}" placeholder="Массив слов 2"><br/>

        <button type="submit">Посчитать</button>
    </form>

    <p>Результат: </p>
    <p th:text="${taskResult}"></p>
</body>
</html>