<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task 1</title>
    <link type="text/css" rel="stylesheet" th:href="@{/styles/task1.css}" />
</head>
<body>
    <div class="navbar">
        <form method="post">
            <button type="button">Загрузить</button>
        </form>

        <form method="post">
            <button type="button">Сохранить</button>
        </form>

        <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
            <input type="file" name="file">
            <button type="submit">Импортировать</button>
        </form>

        <form method="post" th:action="@{/download}">
            <button type="submit">Экспортировать</button>
        </form>
    </div>

    <form method="post" th:action="@{/task/1}" th:object="${taskResult}">
        <label for="firstArray">Введите первый массив слов через пробел</label><br/>
        <input id="firstArray" th:field="${task.sequence1}" placeholder="Массив слов 1"><br/>
        <label for="secondArray">Введите второй массив слов через пробел</label><br/>
        <input id="secondArray" th:field="${task.sequence2}" placeholder="Массив слов 2"><br/>

        <button type="submit">Посчитать</button>
    </form>

    <p>Результат: </p>
    <p th:text="${taskResult}"></p>
</body>
</html>